<h1>メッセージ一覧</h1>

<table class="table">
    <% @entries.each do |e| %>
        <tr>
            <% if current_user.is_estate == true %>
                <% @user = User.find(e.normal_user_id) %>
            <% else %>
                <% @user = User.find(e.estate_user_id) %>
            <% end %>
            <td class="row justify-content-between">
                <div><%= link_to @user.name, entry_path(e) %>とのメッセージ</div>
                <span>最終メッセージ：<% if e.messages.last != nil %><%= e.messages.last.created_at.strftime("%Y年%m月%d日 %H時%-M分") %><% end %></span>
            </td>
        </tr>
    <% end %>
</table>

