<h1>メッセージ一覧</h1>

<table class="table">
    <% @entries.each do |e| %>
        <tr>
            <% if current_user.is_estate == true %>
                <% @user = User.find(e.normal_user_id) %>
            <% else %>
                <% @user = User.find(e.estate_user_id) %>
            <% end %>
            <td><%= link_to @user.name, entry_path(e) %>とのメッセージ</td>
        </tr>
    <% end %>
</table>
