<h1>顧客一覧</h1>

<% @users.each do |u| %>
    <% if u.offer.is_offered == true %>
        <li class="media mb-3">
            <img class="mr-2 rounded" src="<%= gravatar_url(u, { size: 80 }) %>" alt="">
            <div class="media-body">
                <div>
                    <h4><%= u.name %></h4>
                    <%= link_to 'オファー内容を確認する', user_path(u), class: 'btn btn-outline-primary' %>
                </div>
            </div>
        </li>
    <% end %>
<% end %>